.horizontal-scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  background-color: #1c1c1f;
  border-radius: 16px;

  .card {
    display: inline-block;
  }
}

.horizontal-scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
    margin-right: 3px;
  }
}

.horizontal-scrolling-wrapper, .horizontal-scrolling-wrapper-flexbox {
  height: 170px;
  min-width: 620px;
  max-width: 620px;
  -webkit-overflow-scrolling: touch;
}

.card {
  border: 1px solid white;
  border-radius: 16px;
  margin-right: 5px;
  width: 250px;
  height: 150px;
  position: relative;

  .cardMain {
    border-radius: 1em;
    height: 100%;
    transition: background 300ms;

    .index {
      color: white;
      margin: 0;
      padding-top: 0.8em;
      padding-left: 1em;
      font-family: Arial, sans-serif;
      font-size: 20px;
      font-style: italic;
      width: 9em;
      overflow: hidden;
    }

    .title {
      font-family: Arial, sans-serif;
      font-size: 20px;
      overflow: hidden;
      margin-left: 1.5em;
      margin-top: 0.8em;
      color: white;
      font-weight: bold;
    }

    p {
      font-size: 20px;
      margin-left: 1.5em;
      margin-top: 0.4em;
    }

    background: #4f4f59;

    &.downloadProgress {
      p {
        color: black;
      }
    }

    &.downloadComplete {
      cursor: pointer;
      background: #d9d9d9;

      &:hover {
        background: #adadad;
      }

      .index, .title {
        color: black;
      }

      p {
        color: #4b4b4b;
      }
    }

    &.downloadFailed {
      p {
        color: #8a0000;
      }
    }

    &.exportProgress {
      p {
        color: #ffc400;
      }
    }

    &.exportComplete {
      p {
        color: #008cff;
      }
    }

    progress::-webkit-progress-bar {
      background: #f0f0f0;
      border-radius: 10px;
      box-shadow: inset 3px 3px 10px #ccc;
    }

    progress::-webkit-progress-value {
      border-radius: 10px;
      background: #1D976C;
      background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);
      background: linear-gradient(to right, #93F9B9, #1D976C);
    }
  }

  button.delete {
    width: 2em;
    height: 2em;
    border-radius: 0.3em;
    background: #ff5e5e;
    position: absolute;
    top: 1em;
    right: 1em;

    &:hover {
      background: #ffb4b4;
    }
  }
}